build==0.10.0
twine==4.0.2
numpy==1.23.5
pandas==2.0.3
scikit-learn==1.2.2
2ppy==0.4.0
skl2onnx==1.14.1
onnxruntime==1.15.1
tensorflow==2.13.0
parameterized==0.9.0
protobuf==4.23.4
setuptools==68.0.0
kneed==0.8.5
sympy==1.12