build==0.10.0
twine==4.0.2
numpy==1.24.1
pandas==1.5.3
scikit-learn==1.2.0
2ppy==0.4.0
skl2onnx==1.12
onnxruntime==1.13.1
tensorflow==2.7.2
parameterized==0.8.1
protobuf==3.20.3
setuptools==66.0.0
kneed==0.8.2
kivy==2.1.0
matplotlib==3.6.3
kivy-garden==0.1.5
screeninfo==0.8.1
sympy==1.11.1