name: check
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'dependabot/**'
    paths-ignore:
      - 'CHANGELOG.md'
      - 'renovate.json'
      - '.gitignore'
  pull_request:
  workflow_dispatch:
env:
  PROJECT_NAME: psyke-python
  WORKFLOW: check
  TEST_SUBMODULE: psykei/psyke-pytest
jobs:
  create-test-predictors-if-needed:
    runs-on: ubuntu-latest
    name: Create test predictors if needed
    # TODO: short circuit job as soon as it's possible:
    # https://github.com/actions/runner/issues/662
    # if: ${{ github.repository == 'psykei/psyke-python' }}
    steps:
      - name: Checkout code
        if: ${{ github.repository == 'psykei/psyke-python' }}
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Get Python Version
        if: ${{ github.repository == 'psykei/psyke-python' }}
        id: get-python-version
        run: echo ::set-output name=version::$(cat .python-version)

      - name: Setup Python
        if: ${{ github.repository == 'psykei/psyke-python' }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ steps.get-python-version.outputs.version }}

      - name: Restore Python dependencies
        if: ${{ github.repository == 'psykei/psyke-python' }}
        run: pip install -r requirements.txt

      # - name: Create missing predictors
      #  if: ${{ github.repository == 'psykei/psyke-python' }}
      #  run: python setup.py create_test_predictors

      - name: Submodule update
        if: ${{ github.repository == 'psykei/psyke-python' }}
        run: |
          pushd test/resources
          git config user.email "bot@noreply.github.com"
          git config user.name "CI bot"
          git remote set-url origin https://x-access-token:${{ secrets.TRIGGER_GITHUB_ACTION }}@github.com/${{ env.TEST_SUBMODULE }}
          (git add predictors/*.onnx tests/*.csv datasets/*.csv) || echo 'nothing to add'
          (git commit -m 'predictors update from workflows') || echo 'nothing to commit'
          (git push) || echo 'nothing to push'
  run-unit-tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - '3.11.0'
    runs-on: ${{ matrix.os }}
    name: Run tests on Python ${{ matrix.python-version }}, on ${{ matrix.os }}
    timeout-minutes: 45
    concurrency:
      group: ${{ github.workflow }}-run-unit-tests-${{ matrix.python-version }}-${{ matrix.os }}-${{ github.event.number || github.ref }}
      cancel-in-progress: true
    needs:
      - create-test-predictors-if-needed
    steps:
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Restore Python dependencies
        run: pip install -r requirements.txt

      - name: Test
        run: python -m unittest discover -s test -t .
