name: deploy
on:
  workflow_run:
    workflows:
      - check
    types:
      - completed
    branches:
      - master
      - develop
env:
  PROJECT_NAME: psyke-python
  WORKFLOW: depoly
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Deploy on PyPI and create release
    steps:
      - name: Checkout code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
        with:
          fetch-depth: 0 # all history
          submodules: recursive

      - name: Get All Tags
        run: git fetch --tags -f

      - name: Get Python Version
        id: get-python-version
        run: echo ::set-output name=version::$(cat .python-version)

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ steps.get-python-version.outputs.version }}

      - name: Restore Python dependencies
        run: |
          pip install -r requirements.txt

      - name: Change default logging level
        run: sed -i -e 's/DEBUG/WARN/g' psyke/__init__.py

      - name: Pack
        run: python -m build

      - name: Archive Dist Artifacts
        if: failure() || success()
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: './dist'

      - name: Upload
        run: python -m twine upload dist/*
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERANAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}

      - name: Get Version
        id: get-version
        run: echo ::set-output name=version::$(python setup.py get_project_version | tail -n 1)

      - name: Release Assets
        id: upload-release-assets
        run: |
          set -x
          ASSETS=()
          for A in dist/*; do
            ASSETS+=("-a" "$A")
            echo "Releasing $A"
          done
          RELEASE_TAG='${{ steps.get-version.outputs.version }}'
          gh release create "$RELEASE_TAG"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
